@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html[data-mode="dark"] {
    @apply bg-slate-800 text-white;
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply text-black text-md;
  }

  button:disabled {
    @apply opacity-40 cursor-not-allowed;
  }

  input {
    outline: none;
  }
}
